<html>
  <form action="./cadastrar" method="POST">
    <label for="arquivo">Nome do Arquivo:</label>
    <br />
    <input type="text" id="arquivo" name="arquivo" required />
    <br />
    <label for="texto">Texto:</label>
    <br />
    <textarea id="texto" name="texto" rows="10" cols="30"></textarea>
    <br />
    <input type="submit" value="Inserir Arquivos" />
  </form>
</html>
