<html>
  <form action="./exibir" method="POST">
    <label for="arquivo">Nome do arquivo:</label>
    <input type="text" id="arquivo" name="arquivo" required />
    <br />
    <input type="submit" value="Buscar arquivo" />
  </form>
</html>
